/**
** DEMO & PAGE SETUP
**/
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(204, 204, 204);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
page {
  background: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 20px;
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

header {
  width: 100%;
  font-size: 11px;
  color: #ccc;
  flex:  0 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  font-size: 11px;
  color: #ccc;
  padding: 20px;
}
/**
** // END: DEMO & PAGE SETUP
**/


/**
** CSS REGIONS STUFF
**/
#content {
  flow-into: page-content content;
  display: none;
}

.region {
  flex-grow: 1;
  overflow: hidden;
  flow-from: page-content;
  font-size: 12px;
}
